*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries/alvar.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/assets/ACRA-SETTINGS.json
/app/release/
/app/debug/
